*{
	margin: 0px;
	padding: 0px;
}

body{
	font-family: Arial;
	font-size: 16px;
	width: 100%;
	height: 100%;
		overflow: hidden;
}
.header{
	max-width: 1200px;
	height: 40px;
	margin: 30px auto;

}
.header img {
	width: 190px;
	height: 44px;
	object-fit: cover;
	float: left;
}
.header h2{
	float: left;
	margin-top: 20px;
	margin-left: 10px;
}
.header > p{
	width: 800px;
	padding-top: 10px;
	color: #EA4335;
	text-align: right;

}
.content{
	width: 100%;
	height: 600px;
	background-color: #EA4335;
}
.content div{
	float: left;
}
.content_left{
	width: 60%;
	height: 100%;
}
.content_left img {
	max-width: 300px;
	height: 300px;
	object-fit: cover;
	display: block;
	margin:100px auto ;
}

.content_right{
	width: 40%;
	height: 100%;

}
.login{
	width: 400px;
	height: 430px;
	background-color: wheat;
	border-radius: 4px;
	margin: 50px auto;
}
.login h3{
	margin: 20px 30px;
	font-weight: 300;
	font-size: 20px;
}
.login input{
	width: 80%;
	height: 40px;
	margin-left:30px ;
	border-radius: 2px;
}
.login .button1{
	width: 80%;
	height: 40px;
	margin-left:30px ;
	margin-top: 20px;
	color: white;
	background-color: #EA4335;
	border-radius: 2px;
	cursor: pointer;
}
hr{
	float: left;
	
	margin: 0px 12px;
	margin-top: 20px;

}
p{
	float: left;
	color: #808080;
		margin-top: 10px;
}
.button4,
.button3,
.button2{
	width: 105px;
	height: 40px;
	margin-left: 20px;
	line-height: 40px;
}

button:hover{
	cursor: pointer;
}
.button4 i,
.button3 i,
.button2 i{
	width: 30px;
	height: 30px;
}
span{
	display: block;
	width: 80%;
	height: auto;
	margin: 20px auto;
	font-size: 14px;
	text-align: justify;
	text-align: center;
	color: #808080;
}

